<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Add New Flight</title>
</head>
<body>
    <form id="new-form" action="/flights" method="POST">
        <label>Airline
            <input type="text" name="airline">
        </label><br>
        <label>Flight Number
            <input type="text" name="flightNo">
        </label><br>
        <label>Departure Time
            <input type="datetime-local" name="departs">
        </label>
        <div>
            <p>Default Departure Date: <%= Date %></p>
        </div>
    </form>
    <select name="airport" id="select-destination">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        <option value="SEA">SEA</option>
      </select>
      <button type="submit" form="form1" class="btn btn-success" id="submit-new-flight">Add Flight</button>
    <nav> 
        <a href="/flights/:id/tickets/new" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
    </nav>
</body>
</html>